<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/navbar') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Registeration Page</title>
  </head>
  <body>
   <div class = "auth-content">
       <form action="register.html" method="post">
           <h2 class ="form-title">Register</h2>
           <div>
               <label>Username</label>
               <input type ="text" name ="username" class="text-input">
           </div>
           <div>
            <label>Email</label>
            <input type ="email" name ="email" class="text-input">
        </div>
        <div>
            <label>Password</label>
            <input type ="password" name ="password" class="text-input">
        </div>
        <div>
            <label>Password Confrimation</label>
            <input type ="password" name ="passwordConf" class="text-input">
        </div>
        <div>
            <button type="Submit" name="register-btn" class ="btn btn-big"> Register</button>
        </div>
        <p>Or <a href="login.html">Sign In</a></p>
       </form>
   </div>

  </body>
</html>
