/* Authentication Pages */

.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.auth-content .form-title {
    text-align:center;
}

.auth-content form div{
    margin-bottom: 10px;
}

.auth-content form p {
    text-align:center;
}
.auth-content form p a {
    text-decoration: underline;
}
