<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body class="body">
  <div class="container">
    <h1>Welcome to QuickTix!!</h1>
    <p>QuickTix is a ticket exchange website that allows individuals to resell their tickets for 
        events to which they cannot attend. It enables users to view sellers who are offering tickets, purchase tickets 
        of interest, as well as sell their own tickets! Be respectful and enjoy the events!!</p>    
  </div>
</body>

<%- include ('../partials/footer') %>