<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body class="body"></body>
    
    

    <main>
        <h1>User Profile</h1>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        
                    </thead>
                   
                        
                            <tbody >
                                <tr>
                                    <th>Name:</th>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th>Username:</th>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th>Email:</th>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th>Phone:</th>
                                    <td></td>
                                </tr>

                            </tbody>
                </table>
            </div>


            


        </div>






    </main>



</body>

<%- include ('../partials/footer') %>
