<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
  <body class ="body">
    <main>
     <div class = "container">
       <form action="/register" method="post">
           <h1 class ="form">Register</h1>
           <div>
               <label>Enter Username</label>
               <input type ="text" name ="username" class="text-input">
           </div>
           <div>
            <label>Enter Email</label>
            <input type ="email" name ="email" class="text-input">
        </div>
        <div>
            <label>Enter Password</label>
            <input type ="password" name ="password" class="text-input">
        </div>
        <div>
            <label>Enter Password Confrimation</label>
            <input type ="password" name ="passwordConf" class="text-input">
        </div>
        <div>
            <button type="Submit" name="register-btn" class ="btn btn-big"> Register</button>
        </div>
        <p>Or <a href="../pages/login">Sign In</a></p>
       </form>
   </div>
   </main>
  </body>
  <%- include ('../partials/footer') %>