
/* Body of every page should look pretty much the same */
body {
    background-color: black;
}



/* Home page styles */
#homeTitle {
    color: goldenrod;
    font-family: 'Shrikhand';
} 


p {
    color: lightgray;
}



/* Navbar based styles */
.link {
    font-family: 'Shrikhand';
    color: goldenrod;
}

.link:hover{
    color: green;
}



/* Css for the profile */
#profileText {
    color: grey;
}




/* Card specific styles */
.ticket{
    border: 2px solid goldenrod; 
    max-width: 30%;
}

.review{
    background-color: rgb(30, 30, 30);
    color: white;
}

#date{
    display:flex; flex-direction:row;
    column-gap: 10px;
}