<header>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(84, 84, 84);">
    <div class="container-fluid">
      <a class="navbar-brand link" href="/home">QuickTix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active link" aria-current="page" href="/home">Home</a>
          <a class="nav-link link" href="/search">Search</a>
          <% if(logged_in){ %>
            <a class="nav-link link" href="/profile/<%= logged_in.id %>">Profile</a>
            <a class="nav-link link" href="/logout">Logout</a>
          <% } else { %> 
            <a class="nav-link link" href="/login">Login</a>
          <% } %> 
          
          <!-- <a id="link" class="nav-link" href="/logout">Logout</a> -->
        </div>
      </div>
      <img src="../../resources/img/QuickTixLogo.jpg" alt="Logo">
    </div>
  </nav>
</header>