<div class="card-deck">
    <% object.forEach(event => { %>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rating: <%= event.rating %></h5>
              <h5 class="cart-title">Review: <%= event.review %></h5>
            </div>
        </div>
    <% }); %>
</div>