
<!DOCTYPE html>
<html>

    <head>
        <title>Test</title>
    </head>

    <body>
        <main>
            <div class="container">
                <h1>Login</h1>
                <form action="/login" method = "post">
                    <p>Enter Username</p>
                        <input id="username" name="username">
                    <p>Enter Password</p>
                        <input id="password" name="password">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="../pages/register" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">Or create an account.</a>
                </form>
            </div>
        </main>
    </body>
    

</html>