<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/navbar') %>

<!DOCTYPE html>
<html>
  <head>
      <header>  <meta charset="UTF-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <title>QuickTix</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../../resources/css/style.css">
      <style>
        .body {
            background-color: black;
        }
        h1 {
          color: goldenrod;
        } 
        p {
          color: lightgray;
        }
        #link {
          color: goldenrod;
        }
      </style>
      </header>
      
    <title>Registeration Page</title>
  </head>
  <body>
   <div class = "container">
       <form action="/register" method="post">
           <h2 class ="form">Register</h2>
           <div>
               <label>Enter Username</label>
               <input type ="text" name ="username" class="text-input">
           </div>
           <div>
            <label>Enter Email</label>
            <input type ="email" name ="email" class="text-input">
        </div>
        <div>
            <label>Enter Password</label>
            <input type ="password" name ="password" class="text-input">
        </div>
        <div>
            <label>Enter Password Confrimation</label>
            <input type ="password" name ="passwordConf" class="text-input">
        </div>
        <div>
            <button type="Submit" name="register-btn" class ="btn btn-big"> Register</button>
        </div>
        <p>Or <a href="../pages/login">Sign In</a></p>
       </form>
   </div>
   <footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <p>
      &copy; Copyright 2022 : QuickTix
    </p> 

   </footer>

  </body>
</html>
