<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body class="body">
  <div class="container">
    <h1>A Header</h1>
    <p>Some text</p>    
  </div>
</body>

<%- include ('../partials/footer') %>